<app-navbar class="w-full"></app-navbar>
<!-- form d'info ======================================================================================= -->
<!--<fa-icon [icon]="['fal', 'users']" size="sm" style="color: rgba(91, 99, 109, 0.7);"></fa-icon><br>-->
<!--<fa-icon [icon]="['fal', 'bed-alt']" size="lg" style="color: rgba(91, 99, 109, 0.7);"></fa-icon><br>-->
<!--<fa-icon [icon]="['fal', 'bed-alt']" style="font-size: 1.33em; color: rgba(91, 99, 109, 0.7);"></fa-icon><br>-->
<!--<fa-icon [icon]="['fal', 'calendar-alt']" style="font-size: 1.4em; color: rgba(91, 99, 109, 0.7);"></fa-icon>-->

<div class="content flex items-center justify-center px-4 md:px-12 lg:px-24 xl:px-0">
  <div class="flex flex-col justify-start xl:w-3/4 2xl:w-2/4">
    <h1 class="main-heading" [innerHTML]="'slogan' | translate"></h1>
    <app-main-search></app-main-search>
  </div>
</div>
