.content {
  background-position: center;
  height: 300px;
  width: 100%;

}
.content-bg {
  background-image: url('/assets/images/wallpaper-semiwide.webp');
}

/* main heading */
.main-heading {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12);
  font-weight: 600;
  font-size: 36px;
  color: white;
  margin-bottom: 0.5rem;
}
.main-heading span {
  font-weight: 700;
}

/* media queries */
@media (max-width: 480px) { /*sm*/
  .main-heading {
    font-size: 22px ;
    line-height: 25px;
    margin-bottom: 0.75rem;
  }

}
@media (min-width: 480px) { /*md*/

}
@media (min-width: 768px) { /*lg*/

}
@media (min-width: 1200px) { /*xl*/
  .content-bg {
    background-image: url('/assets/images/wallpaper-wide.webp');
  }
}
@media (min-width: 1920px) { /*2xl*/
  .location-card-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


