.bg-wrapper {
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bg-img {
  background-image: url('/assets/images/wallpaper-semiwide.webp');
}

/* main heading */
.main-heading {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12);
    font-weight: 600;
    font-size: 36px;
    color: white;
    margin-bottom: 0.5rem;
}

.main-heading span {
    font-weight: 700;
}

/* slide */
.slider-wrapper {
    margin: auto;
    position: relative;
    width: 100%;
}

#slider-container::-webkit-scrollbar {
    display: none;
}

#slider-container {
    overflow: scroll;
}

.slide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: absolute;
    top: 40%;
    height: 40px;
  width: 30px;
  background-color: #fff;
  box-shadow: 0 0 2px #666;
  display: none;
  cursor: pointer;
}
.slide-btn:hover {
  box-shadow: 0 0 2px #444;
}

/* hotel card*/

.hotel-card-wrapper {
  flex: 0 0 33.33%;

}
.hotel-card-container {
  width: calc(100% - 10px);
  margin: 10px 5px;
  box-shadow: 0 0 3px #AAA;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}

.hotel-card-image {
    width: 100%;
    padding-bottom: 60%;
    overflow: hidden;

}
.hotel-card-image img {
  height: 100%;
  object-fit: cover;
  transition: height 0.5s;
}
.hotel-card-image img:hover {
  height: 105%;
}

/* media queries */
@media (max-width: 480px) { /*sm*/
  .main-heading {
    font-size: 22px ;
    line-height: 25px;
    margin-bottom: 0.75rem;
  }

}
@media (min-width: 480px) { /*md*/

}
@media (min-width: 768px) { /*lg*/
  .slide-btn {
    width: 40px;
  }
  #slideNext {
    right: -20px;
    display: flex;
  }

  #slideBack  {
    left: -20px;
    display: flex;
  }

    .hotel-card-wrapper {
        flex: 0 0 25%;
    }
}

@media (min-width: 1200px) {
    /*xl*/
    .content-bg {
        background-image: url('/assets/images/wallpaper-wide.webp');
    }

    .slider-wrapper {
        width: 85%;
    }
}

@media (min-width: 1920px) {
    /*2xl*/
    .location-card-heading {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .slider-wrapper {
        width: 75%;
    }
}


