front/node_modules

AuthenticationTripGo/node_modules
AuthenticationTripGo/.idea
AuthenticationTripGo/app/var
AuthenticationTripGo/app/public/

HotelManagementTripGo/node_modules
HotelManagementTripGo/app/public/
HotelManagementTripGo/.idea
HotelManagementTripGo/app/var

Gateway/node_modules
Gateway/app/var
Gateway/.idea
Gateway/app/public

Statistiques/node_modules
Statistiques/app/var
Statistiques/.idea