<!-- Header ======================================================================================================== -->
<header class="relative w-full">
  <div class="w-full pl-4 md:px-12 lg:px-24 xl:px-32 flex justify-between items-center md:py-6 2xl:pt-8">
    <div class="flex items-end cursor-pointer" routerLink="/">
      <svg-icon src="{{ 'assets/svg/tripgo-logo.svg' }}" [svgStyle]="{ 'width.px':90 }"></svg-icon>
    </div>
    <div class="items-center text-my-gray-3 hidden md:flex">
      <div (click)="openDialog1()"
           class="text-my-blue-1 text-sm 2xl:text-base border border-my-blue-1 rounded-sm px-4 py-2 2xl:py-3 cursor-pointer hover:shadow"
           matRipple>{{'nav_bar.add_establishment' | translate}}
      </div>
      <span (click)="openDialog2()" *ngIf="!(this.authState$ | async).isAuthenticated"
            class="ml-8 text-my-gray-3 text-sm 2xl:text-base border border-my-gray-3 rounded-sm px-4 py-2 2xl:py-3 cursor-pointer hover:shadow"
            matRipple>Créer un compte
      </span>
      <span (click)="openDialog3()" *ngIf="!(this.authState$ | async).isAuthenticated"
            class="ml-6 text-sm 2xl:text-base cursor-pointer">Login
      </span>
      <span *ngIf="(this.authState$ | async).isAuthenticated" class="pl-5 pr-4 flex items-center relative">
        <span [matMenuTriggerFor]="menu" class="font-medium text-sm cursor-pointer"
              mat-button>{{ (this.authState$ | async).user?.fullName }}</span>
        <mat-menu #menu="matMenu">
          <span mat-menu-item routerLink="/profile">Profile</span>
          <span (click)="onLogoutSubmit()" mat-menu-item>Logout</span>
        </mat-menu>
        <img alt="arrow-down" class="absolute right-0 pointer-events-none" src="assets/icons/arrow-down.png"
             style="height: 0.4rem">
      </span>
      <span class="pl-5 pr-4 flex items-center relative currency">
        <span [matMenuTriggerFor]="menu" class="font-medium text-sm cursor-pointer" mat-button>{{ currency }}</span>
        <mat-menu #menu="matMenu">
          <span (click)="currency = 'DZD'" mat-menu-item>DZD</span>
          <span (click)="currency = 'USD'" mat-menu-item>USD</span>
          <span (click)="currency = 'EUR'" mat-menu-item>EUR</span>
        </mat-menu>
        <img alt="arrow-down" class="absolute right-0 pointer-events-none" src="assets/icons/arrow-down.png"
             style="height: 0.4rem">
      </span>
      <span (click)="switchLanguage('fr')" *ngIf="currentLang !== 'fr'"
            class="ml-5 text-sm cursor-pointer">FR</span>
      <span (click)="switchLanguage('en')" *ngIf="currentLang !== 'en'"
            class="ml-5 text-sm cursor-pointer">EN</span>
    </div>
    <label (click)="toggleHiddenNav()" class="menu-button md:hidden cursor-pointer">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <div (click)="toggleHiddenNav()" class="hidden-nav-closer"></div>
    <div id="hidden-nav-wrapper">
      <div id="hidden-nav">
        <div class="hidden-nav-content">
          <div class="flex flex-col text-my-gray-4">
            <div (click)="openDialog1(); toggleHiddenNav()" class="hidden-nav-item" matRipple>
              <span class="text-xs">{{'nav_bar.add_establishment' | translate}}</span>
            </div>
            <div (click)="openDialog3(); toggleHiddenNav()" *ngIf="!(this.authState$ | async).isAuthenticated"
                 class="hidden-nav-item">
              <span class="text-xs">Login</span>
            </div>
            <div (click)="toggleHiddenNav()" *ngIf="(this.authState$ | async).isAuthenticated" class="hidden-nav-item"
                 routerLink="/profile">
              <span class="text-xs">{{ (this.authState$ | async).user?.fullName }}</span>
              <span class="absolute right-0 mr-2 text-sm">--></span>
            </div>
            <div (click)="hidden_currency.classList.toggle('flex'); hidden_currency.classList.toggle('hidden');"
                 class="hidden-nav-item"
                 matRipple>
              <span class="text-xs">{{ currency }}</span>
              <img alt="arrow-down" class="absolute right-0 mr-3" src="assets/icons/arrow-down.png"
                   style="height: 0.4rem">
            </div>
            <div #hidden_currency class="hidden-nav-item-select hidden">
              <span (click)="hidden_currency.classList.replace('flex', 'hidden'); currency = 'DZD'; toggleHiddenNav()" class="text-xs"
                    matRipple>DZD</span>
              <span (click)="hidden_currency.classList.replace('flex', 'hidden'); currency = 'EUR'; toggleHiddenNav()" class="text-xs"
                    matRipple>EUR</span>
              <span (click)="hidden_currency.classList.replace('flex', 'hidden'); currency = 'USD'; toggleHiddenNav()" class="text-xs"
                    matRipple>USD</span>
            </div>
            <div (click)="hidden_language.classList.toggle('flex'); hidden_language.classList.toggle('hidden')"
                 class="hidden-nav-item"
                 matRipple>
              <span class="text-xs">{{ currentLang | uppercase }}</span>
              <img alt="arrow-down" class="absolute right-0 mr-3" src="assets/icons/arrow-down.png"
                   style="height: 0.4rem">
            </div>
            <div #hidden_language class="hidden-nav-item-select hidden">
              <span (click)="hidden_language.classList.replace('flex', 'hidden'); switchLanguage('fr'); toggleHiddenNav()" class="text-xs"
                    matRipple>FR</span>
              <span (click)="hidden_language.classList.replace('flex', 'hidden'); switchLanguage('en'); toggleHiddenNav()" class="text-xs"
                    matRipple>EN</span>
            </div>
            <span (click)="openDialog2(); toggleHiddenNav()" *ngIf="!(this.authState$ | async).isAuthenticated"
                  class="text-xs border border-gray-border-1 rounded-sm px-4 py-2 cursor-pointer ml-2 mt-4"
                  matRipple style="width: fit-content">Créer un compte
            </span>
            <span (click)="onLogoutSubmit(); toggleHiddenNav()" *ngIf="(this.authState$ | async).isAuthenticated"
                  class="text-xs border border-gray-border-1 rounded-sm px-4 py-2 cursor-pointer ml-2 mt-4"
                  matRipple style="width: fit-content">Log out
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- etablissement pop-up ========================================================================================== -->

<!-- inscription pop-up ============================================================================================ -->

<!-- login pop-up ================================================================================================== -->

