<div class="w-full p-10 pb-2" style="background-color: #494D51">
    <div class="flex flex-col items-center justify-center">
        <span class="text-white text-2xl font-semibold">Gagnez du temps, économisez de l'argent!</span>
        <span class="text-white text-sm mt-1">
            Inscrivez-vous et nous vous enverrons les meilleures offres
        </span>
        <div class="flex items-center justify-center w-full mt-2">
            <div class="grid grid-cols-3 col-gap-1 h-16 p-1" style="width: 50%">
                <input class="col-span-2 h-full text-my-gray-3 text-lg font-medium px-5" placeholder="Email"
                       type="email">
                <button class="col-span-1 bg-my-blue-1 text-white font-medium text-lg">Souscrire</button>
            </div>
        </div>
        <div class="w-full mt-3" style="border-top: 1px solid rgba(255, 255, 255, 0.25)"></div>
        <div class="flex justify-start items-center h-12 w-full">
            <span class="text-white font-medium text-sm mr-5 cursor-pointer">Version mobile</span>
            <span class="text-white font-medium text-sm mr-5 cursor-pointer">Gérer vos établissement</span>
            <span class="text-white font-medium text-sm mr-5 cursor-pointer">Lister votre établissement</span>
            <span class="text-white font-medium text-sm mr-5 cursor-pointer">Contactez le service à la clientèle</span>
        </div>
        <div class="w-full" style="border-top: 1px solid rgba(255, 255, 255, 0.25)"></div>
        <div class="w-full pt-5 flex">
            <svg-icon [svgStyle]="{ 'width.px':150 }" src="{{ 'assets/svg/tripgo-logo-white.svg' }}"></svg-icon>
            <div class="flex flex-grow justify-around items-start">
                <div class="flex flex-col justify-start">
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Maisons</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Appartement</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Hôtels</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Autre</span>
                </div>
                <div class="flex flex-col justify-start">
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Version mobile</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Lister mon établissements</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Gérer mes établissements</span>
                </div>
                <div class="flex flex-col justify-start">
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">À propos de tripGo.com</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Contactez le service à la clientèle</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Terms & Conditions</span>
                    <span class="text-sm text-white font-thin cursor-pointer mb-2">Contact entreprise</span>
                </div>
            </div>
        </div>
        <div class="w-full mt-3" style="border-top: 1px solid rgba(255, 255, 255, 0.25)"></div>
        <div class="flex justify-center items-center h-12 w-full">
            <span class="text-white font-thin text-xs cursor-pointer">Copyright © 2019-2020 tripGo.com™. All rights reserved.</span>
        </div>
    </div>
