<app-navbar></app-navbar>
<div class="flex items-center justify-center w-full bg-my-blue-2">
  <div class="w-full xl:w-3/4 2xl:w-3/5 py-6 px-4 md:px-12 lg:px-24 xl:px-0">
    <app-main-search></app-main-search>
  </div>
</div>
<div class="w-full xl:w-3/4 2xl:w-3/5 px-4 md:px-12 lg:px-24 xl:px-0 mx-auto text-my-gray-4">
  <div class="w-full grid grid-cols-4 gap-4 my-4">
    <div class="col-span-4 md:col-span-3 rounded bg-my-gray-1 flex items-center justify-between px-6 py-4">
      <!-- basic hotel Info -------------------------------->
      <div class="flex flex-col justify-between items-start">
        <span class="p-1 px-2 text-white text-xs bg-my-blue-2 rounded-md hidden md:flex">Hotel 4 étoiles</span>
        <div class="flex items-center">
          <span class="font-bold text-lg mt-2 md:flex items-center">
            <span class="leading-none">Hotel Lamaraz Art Hotel</span>
            <span class="flex md:ml-2">
              <div *ngFor="let x of ' '.repeat(3).split(' ')" style="font-size: 0.9rem">
                <fa-icon class="mr-1" [icon]="['fas', 'star']" size="xs" style="color: #FF8A00"></fa-icon>
              </div>
            </span>
          </span>
        </div>
        <span class="font-thin text-sm mt-1">Algerie - Alger - Rue du calver 15</span>
      </div>
      <!-- basic hotel Info end ---------------------------->

      <!-- match-percent-circle -------->
      <div class="flex flex-col items-center text-my-gray-3">
        <div id="percent-circle-container">
          <svg width="100%" height="100%" viewPort="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="22" cx="50%" cy="50%" fill="transparent"
                    stroke-dasharray="150"
                    stroke-dashoffset="150"
                    stroke-linecap="round"></circle>
          </svg>
        </div>
        <span class="text-xs">Match</span>
      </div>
      <!-- match-percent-circle end ---->
    </div>

    <!-- Hotel notes and votes --->
    <div class="col-span-4 md:col-span-1 rounded bg-my-gray-1 flex flex-col px-6 py-4">
      <div class="flex items-center">
        <div class="relative" >
          <fa-icon [fixedWidth]="true" rotate="270" [icon]="['fas', 'bookmark']"
                   size="3x" style="color: #0C568B; margin-left: -6px"></fa-icon>
          <span class="absolute text-sm text-white font-bold leading-none"
              style="top: 50%; left: 0; transform: translate(40%, -50%)">9.7</span>
        </div>
        <div class="ml-4 flex flex-col">
          <span class="font-thin text-sm leading-none mb-1">Exelent</span>
          <span class="font-thin leading-none text-xs">
            15 / <span class="font-semibold text-my-blue-2">19 votes</span>
          </span>
        </div>
      </div>
      <div class="flex md:flex-col">
        <span class="p-1 px-2 text-white bg-my-blue-2 rounded-full leading-none my-1 flex items-end"
              style="font-size: 10px; align-self: start">
          <span>Service de chambre</span>
          <fa-icon class="mx-1" [icon]="['fas', 'thumbs-up']" size="sm" style="color: #0ABF32; margin-bottom: 1px"></fa-icon>
          <span>12</span>
        </span>
        <span class="p-1 px-2 text-white bg-my-blue-2 rounded-full leading-none my-1 flex items-end"
              style="font-size: 10px; align-self: start">
          <span>Reception</span>
          <fa-icon class="mx-1" [icon]="['fas', 'thumbs-up']" size="sm" style="color: #0ABF32; margin-bottom: 1px"></fa-icon>
          <span>08</span>
        </span>
      </div>
    </div>
    <!-- Hotel notes and votes end --->
  </div>
  <!-- Galery =============================================================================================================================== -->
  <div class="w-full relative" style="padding-bottom: 33%;">
    <div class="grid grid-rows-2 grid-cols-6 grid-flow-col-dense gap-2 absolute w-full h-full">
      <div class="bg-gray-300 row-span-2 col-span-4 "><img class="h-full w-full object-cover"
                                                           src="assets/images/wallpaper1.png"></div>
      <div class="bg-gray-300 row-span-1 col-span-1 "><img class="h-full w-full object-cover"
                                                           src="assets/images/wallpaper2.png"></div>
      <div class="bg-gray-300 row-span-1 col-span-1 "><img class="h-full w-full object-cover"
                                                           src="assets/images/wallpaper2.png"></div>
      <div class="bg-gray-300 row-span-1 col-span-1 "><img class="h-full w-full object-cover"
                                                           src="assets/images/wallpaper2.png"></div>
      <div class="bg-gray-300 row-span-1 col-span-1 relative">
        <img class="h-full w-full object-cover" src="assets/images/wallpaper2.png">
        <div class="absolute w-full h-full top-0 flex flex-col items-center justify-center"
             style="background-color: rgba(91, 99, 109, 0.7);">
          <span class="text-lg text-white font-bold leading-none">+12</span>
          <span class="text-lg text-white font-bold leading-none">Photos</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Infos ================================================================================================================================ -->
  <div class="w-full relative mt-4 grid grid-cols-4 gap-2">
    <div class="col-span-4 md:col-span-3">
      <div class="border border-gray-border-1 rounded ">

        <!-- Comment section ======================================================================================= -->
        <div class="slide-wrapper">
          <div class="slide-container">
            <div class="comment">
            <span class="content">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula
            </span>
              <span class="author">Karim Mirak le 12/05/2020</span>
            </div>
            <div class="comment">
            <span class="content">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula
            </span>
              <span class="author">Karim Mirak le 12/05/2020</span>
            </div>
          </div>
          <div (click)="slideBack()" class="slide-btn" id="slideBack" type="button">
            <fa-icon [icon]="['fal', 'chevron-left']" size="lg" style="color: #5B636D;"></fa-icon>
          </div>
          <div (click)="slideNext()" class="slide-btn" id="slideNext" type="button">
            <fa-icon [icon]="['fal', 'chevron-right']" size="lg" style="color: #5B636D;"></fa-icon>
          </div>
        </div>
        <!-- Comment section end =================================================================================== -->

        <!-- Services notes section ================================================================================ -->
        <div class="flex items-center py-2">
          <div class="service-note">
            <div style="font-size: 1.2rem">
              <fa-icon class="mr-3" [icon]="['fal', 'concierge-bell']" size="lg" style="color: #0C568B"></fa-icon>
            </div>
            <div class="flex flex-col items-center md:items-start">
              <span class="remarque text-xs md:text-sm leading-none">Service exelent</span>
              <span class="note">
                    <span class="font-bold text-my-blue-2 mr-1">9.7</span>
                    <span class="font-thin">Score de service</span>
                  </span>
            </div>
          </div>
          <div class="service-note">
            <div style="font-size: 1.2rem">
              <fa-icon class="mr-3" [icon]="['fal', 'user-tie']" size="lg" style="color: #0C568B"></fa-icon>
            </div>
            <div class="flex flex-col items-center md:items-start">
              <span class="remarque text-xs md:text-sm leading-none">Service exelent</span>
              <span class="note">
                    <span class="font-bold text-my-blue-2 mr-1">9.7</span>
                    <span class="font-thin">Score de service</span>
                  </span>
            </div>
          </div>
          <div class="service-note">
            <div style="font-size: 1.2rem">
              <fa-icon class="mr-3" [icon]="['fal', 'envelope-open-text']" size="lg" style="color: #0C568B"></fa-icon>
            </div>
            <div class="flex flex-col items-center md:items-start">
              <span class="remarque text-xs md:text-sm leading-none">Service exelent</span>
              <span class="note">
                    <span class="font-bold text-my-blue-2 mr-1">9.7</span>
                    <span class="font-thin">Score de service</span>
                  </span>
            </div>
          </div>
        </div>
        <!-- Services notes section end ============================================================================ -->
      </div>

      <div class="border border-gray-border-1 rounded flex items-center mt-4">
        <div class="bg-my-gray-1 p-6 hidden md:flex items-center">
          <fa-icon [fixedWidth]="true" [icon]="['fas', 'bookmark']" size="2x" style="color: #0ABF32; transform: rotate(-17deg)"></fa-icon>
        </div>
        <div class="flex flex-col justify-center px-5">
          <span class="text-xs font-bold">Moins cher que 78% de toutes les propriétés d’Alger au cours des dernières 24 heures</span>
          <span class="text-xs font-thin mt-1">Moins cher que 78% de toutes les propriétés d’Alger au cours des dernières 24 heures</span>
        </div>
      </div>

    </div>

    <!-- Google map ================================================================================================ -->
    <div class="col-span-4 md:col-span-1">
      <div class="border border-gray-border-1 w-full p-2 2xl:p-3 rounded flex flex-col h-full" >
        <agm-map style="height: 110px; width: 100%" class="mb-2 hidden md:block"></agm-map>
        <span (click)="openMap()" class="my-1 font-bold text-sm cursor-pointer">
          Regardez sur le map
        </span>
      </div>
    </div>
    <!-- Google map end ============================================================================================ -->

  </div>

  <!-- Servies ===================================================================================================== -->
  <div class="w-full px-3 md:px-8 py-3 md:py-5 mt-4 bg-my-gray-1 border border-gray-border-1 rounded">
    <div class="grid grid-cols-4 md:grid-cols-7">
      <div *ngFor="let s of services" class="service col-span-1 mx-1">
        <div class="w-10 h-10 md:w-12 md:h-12 flex items-center justify-center mt-2">
          <div style="font-size: 1rem">
              <fa-icon class="mx-2" [icon]="['fal', s.icon]" size="2x" style="color: #0C568B"></fa-icon>
          </div>
        </div>
        <span class="text-xs 2xl:text-sm md:my-2 text-center leading-none">{{ s.name }}</span>
      </div>
    </div>
  </div>
  <!-- Servies end ================================================================================================= -->

  <!-- total offres infos ========================================================================================== -->
  <div class="w-full mt-4 flex flex-col md:flex-row md:items-center py-2">
    <div class="flex flex-col py-2 mr-3">
      <span class="text-lg font-bold">Selectionnez votre chambre</span>
      <div class="flex items-center mt-1">
        <fa-icon class="mr-2" [icon]="['fas', 'badge-check']" size="1x" style="color: #0ABF32"></fa-icon>
        <span class="text-xs font-thin leading-none">Confirmation instantanée</span>
      </div>
    </div>
    <div class="self-stretch border-l border-gray-border-1 mx-5 hidden md:block"></div>
    <div class="flex items-center self-stretch">
      <div class="flex items-center py-2 mr-3 md:ml-3">
        <div style="font-size: 1rem">
          <fa-icon class="mr-2" [icon]="['fal', 'bed-alt']" size="lg" style="color: #0C568B"></fa-icon>
        </div>
        <span class="text-sm font-bold leading-none">17 Types de chambres</span>
      </div>
      <div class="self-stretch border-l border-gray-border-1 mx-2 md:mx-5"></div>
      <div class="flex items-center py-2 ml-3">
        <div style="font-size: 1rem">
          <fa-icon class="mr-2" [icon]="['fal', 'gifts']" size="lg" style="color: #0C568B"></fa-icon>
        </div>
        <span class="text-sm font-bold leading-none">58 offres</span>
      </div>
    </div>
  </div>
  <!-- total offres infos end ====================================================================================== -->

  <!-- Offres ====================================================================================================== -->
  <div class="w-full p-4 mt-4 flex flex-col border border-gray-border-1 rounded">
    <span class="text-lg font-bold">Chambre deluxe</span>
    <div class="w-full mt-2 p-4 flex bg-my-gray-1">
      <div class="flex flex-col justify-between w-1/5">
        <div class="relative w-full" style="padding-bottom: 120%">
          <div class="absolute w-full h-full grid grid-cols-2 gap-2">
            <div class="relative col-span-2 bg-my-gray-3" style="padding-bottom: 65%">
              <img class="absolute h-full w-full object-cover" src="assets/images/wallpaper1.png">
            </div>
            <div class="relative col-span-1 bg-my-gray-3" style="padding-bottom: 100%">
              <img class="absolute h-full w-full object-cover" src="assets/images/wallpaper2.png">
            </div>
            <div class="relative col-span-1 bg-my-gray-3" style="padding-bottom: 100%">
              <img class="absolute h-full w-full object-cover" src="assets/images/wallpaper2.png">
            </div>
          </div>
        </div>
        <div class="w-full mb-5 flex flex-col overflow-x-auto">
          <div *ngFor="let s of offreServices" class="flex items-center my-2">
            <fa-icon class="mx-2" [icon]="['fal', s.icon]" size="1x" style="color: #0C568B"></fa-icon>
            <span class="text-xs leading-none">{{ s.name }}</span>
          </div>
        </div>
      </div>
      <div class="w-4/5 py-4 ml-4">
        <div class="grid grid-cols-9">
          <div class="col-span-3"><span class="text-xs font-bold leading-none">Bénéfices</span></div>
          <div class="col-span-1 text-center"><span class="text-xs font-bold leading-none">Dormir</span></div>
          <div class="col-span-2 text-center"><span class="text-xs font-bold leading-none">Prix par nuitée</span>
          </div>
          <div class="col-span-1 text-center"><span class="text-xs font-bold leading-none">Chambres</span></div>
          <div class="col-span-2 text-center"><span class="text-xs font-bold leading-none">Réservation</span></div>
        </div>
        <div *ngFor="let x of ' '.repeat(1).split(' ')" class="mt-4 grid grid-cols-9">
          <div class="col-span-3 flex flex-col self-stretch">
            <div class="p-6 w-full flex flex-col flex-grow bg-white border border-gray-border-1 border-r-0">
              <span class="mb-2 text-xs leading-none">Votre prix inclus:</span>
              <div class="flex items-center my-1">
                <fa-icon class="mr-2" [icon]="['fas', 'badge-check']" size="1x" style="color: #0ABF32"></fa-icon>
                <span class="text-my-gray-3 text-xs leading-none">Petit dej gratuit pour deux</span>
              </div>
              <div class="flex items-center my-1">
                <fa-icon class="mr-2" [icon]="['fas', 'badge-check']" size="1x" style="color: #0ABF32"></fa-icon>
                <span class="text-my-gray-3 text-xs leading-none">Dinner</span>
              </div>
              <div class="flex items-center my-1">
                <fa-icon class="mr-2" [icon]="['fas', 'badge-check']" size="1x" style="color: #0ABF32"></fa-icon>
                <span class="text-my-gray-3 text-xs leading-none">Wifi gratuit</span>
              </div>
              <div class="flex items-center my-1">
                <fa-icon class="mr-2" [icon]="['fas', 'badge-check']" size="1x" style="color: #0ABF32"></fa-icon>
                <span class="text-my-gray-3 text-xs leading-none">Politique d’annulation</span>
              </div>
              <div class="flex my-3"></div>
            </div>
          </div>
          <div class="col-span-1 flex flex-col self-stretch">
            <div class="p-6 w-full flex flex-col flex-grow bg-white border border-gray-border-1 border-r-0">

            </div>
          </div>
          <div class="col-span-2 flex flex-col self-stretch">
            <div class="py-6 px-3 w-full flex flex-col items-end flex-grow bg-white border border-gray-border-1 border-r-0">
                <span class="relative text-my-gray-2 text-xs font-bold">
                  <span class="absolute slash border-b border-my-gray-3"></span>
                  DZD <span class="font-thin text-sm">28 150</span>
                </span>
              <span class="text-sm font-thin">DZD <span
                      class="text-my-blue-2 font-bold text-base">26 000</span></span>
            </div>
          </div>
          <div class="col-span-1 flex flex-col self-stretch">
            <div class="py-6 px-3 w-full flex flex-col flex-grow bg-white border border-gray-border-1 border-r-0">
              <div class="relative h-10 border border-my-gray-3 bg-my-gray-1 flex items-center">
                <mat-select disableOptionCentering panelClass="my-mat-select">
                  <mat-option *ngFor="let x of ' '.repeat(5).split(' '); let i = index" [value]="i+1">
                    0{{i + 1}}</mat-option>
                </mat-select>
                <fa-icon class="absolute right-0 mr-1 pointer-events-none cursor-pointer"
                [icon]="['fal', 'chevron-down']" size="xs" style="color: #5B636D"></fa-icon>
              </div>
            </div>
          </div>
          <div class="col-span-2 flex flex-col self-stretch">
            <div class="py-6 px-3 w-full flex flex-col flex-grow bg-white border border-gray-border-1">
              <button class="w-full bg-my-blue-2 text-xs text-white h-10" [routerLink]="['/booking']">
                Réserver ici
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="w-full bg-my-blue-2 h-10">
      <div class="flex items-center justify-center">
        <span class="mr-1 text-2xl text-white font-bold">+</span>
        <span class="text-sm text-white font-thin">Plus d'offres</span>
      </div>
    </button>
  </div>
</div>

