::ng-deep #destination *,
::ng-deep #check-in-out *,
::ng-deep #pers-info * {
  font-size: 14px;
  color: #5B636D;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
}
.slash {
   top: 50%;
   width: 100%;
   transform: rotate(5.71deg);
 }
.service-note {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dee0e2;
 }
.service-note:last-child {
  border: 0;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Progress circle */

#percent-circle-container circle {
  transition: stroke-dashoffset 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  stroke-width: 0.3em;
  stroke: #0ABF32;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
}

#percent-circle-container {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
}
#percent-circle-container:after {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-pct)"%";
  border-radius: 100%;
  font-size: 12px;
  font-weight: 600;
}
/* comment */
.comment {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(91, 99, 109, 0.2);
  flex: 0 0 100%;
}
.comment .content {
  font-weight: 300;
  text-align: center;
}
.comment .author {
  text-align: center;
}
/* Slide */
.slide-wrapper {
  position: relative;
  width: 100%;
}
.slide-container {
  display: flex;
  overflow-x: scroll;
  margin: 0 1.5rem;
}
.slide-container::-webkit-scrollbar {
  display: none;
}
.slide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.05rem;
}
.slide-btn:hover * {
  color: #0C568B !important;
}
#slideNext {
  right: 3rem;
}

#slideBack  {
  left: 3rem;

}
/* media queries */
@media (max-width: 480px) { /*xs*/
  .service-note {
    flex-direction: column;
  }
  .service-note svg {
    width: 25px;
    margin-bottom: 0.375rem;
  }
  .service-note .note {
    font-size: 10px;
    margin-top: 0.25rem;
    line-height: 1;
  }
  .service svg {
    width: 25px;
    margin-bottom: 0.375rem;
  }
  .comment .content {
    font-size: 11px;
    padding: 0 1rem;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .comment .author {
    font-size: 9px;
    margin-top: 0.25rem;
  }
  .slide-btn {
    font-size: 0.8rem;
  }
  #slideNext {
    right: 0.5rem;
  }

  #slideBack  {
    left: 0.5rem;

  }
}
@media (min-width: 480px) { /*sm*/

}
@media (min-width: 768px) { /*md*/
  .service-note {
    flex-direction: row;
    margin: 10px 0;
  }
  .service-note svg {
    width: 30px;
    margin-right: 1rem;
  }
  .service-note .note {
    font-size: 12px;
    margin-top: 0.5rem;
    line-height: 1;
  }
  .comment .content {
    font-size: 12px;
    padding: 0 5.5rem;
  }
  .comment .author {
    font-size: 10px;
    margin-top: 0.5rem;
  }
}
@media (min-width: 1024px) { /*xl*/
  .service-note {
    flex-direction: row;
    padding: 20px 0;
  }
}
@media (min-width: 1200px) { /*xl*/
  .comment .content {
    font-size: 12px;
    padding: 0 6.5rem;
  }
}
@media (min-width: 1920px) { /*2xl*/
}
