.blue_line {
    margin-left: 1rem !important;
    width: 2.5rem;
    border: 2px solid #1485D7;
    height: 0px;
}

.section-label {
    font-size: 1.125rem;
    font-weight: 700;
}

.my-input {
    color: #5B636D !important;
    padding-left: 1rem !important;
    font-size: 14px !important;
    outline: none;
    flex-grow: 1;
    align-self: stretch;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    height: 2.5rem;
    border: 1px solid #5B636D;
    overflow: hidden;
}

::ng-deep .mat-select-placeholder,
::ng-deep .mat-select-value-text > span {
    padding: 0 1rem !important;
    font-size: 14px !important;
}

