<div>
  <h1 mat-dialog-title>Change your password</h1>
  <form ngNativeValidate>
    <div mat-dialog-content>
      <div class="flex flex-col">
        <span class="text-xs text-my-gray-4 leading-none font-medium">Old password:</span>
        <input [(ngModel)]="oldPWD" spellcheck="false"
               class="h-10 border border-my-gray-3 w-full text-xs text-my-gray-4 px-4 mt-2"
               placeholder="old password" type="password" name="old-password" autocomplete="off" required="required" minlength="8">
        <span class="text-xs text-my-gray-4 leading-none font-medium mt-5">New password:</span>
        <input [(ngModel)]="newPWD1" spellcheck="false"
               class="h-10 border border-my-gray-3 w-full text-xs text-my-gray-4 px-4 mt-2"
               placeholder="new password" type="password" name="new-password1" autocomplete="off" required="required" minlength="8">
        <span class="text-xs text-my-gray-4 leading-none font-medium mt-2">Confirm password:</span>
        <input [(ngModel)]="newPWD2" spellcheck="false"
               class="h-10 border border-my-gray-3 w-full text-xs text-my-gray-4 px-4 mt-2"
               placeholder="new password" type="password" name="new-password2" autocomplete="off" required="required" minlength="8">
        <span class="text-xs text-red-700 bg-red-200 py-1 px-4 font-medium mt-2" *ngIf="errorMessage">{{ errorMessage }}</span>
      </div>
    </div>
    <div mat-dialog-actions>
      <div class="flex justify-between w-full pt-4">
        <button class="h-10 bg-my-blue-1 text-white text-sm font-medium px-12" name="submit" type="submit"
                (click)="saveNewPassword()">Save</button>
        <button class="h-10 bg-my-gray-3 text-white text-sm font-medium px-4" name="dismiss"
                (click)="closeDialog()">Dismiss</button>
      </div>
    </div>
  </form>
</div>

